doctype html
html
  head
    title='Reset'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        h1="Reset operation complete."
        br
        br
        a(href="/") Go to main page 
        