doctype html
html
  head
    title='Undo'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        h1="Undo operation complete."
        br
        br
        a(href="/") Go to main page 
        