doctype html
head
    title = "Add"
    link(rel="stylesheet", href='/stylesheets/style.css')
body 
    block content
    h1= "Add operation completed"
    br
    form(action="/editquestions" method ='post')
        input(type="submit" name="addMore" value="addMore")
    