doctype html
head
    title = "Delete"
    link(rel="stylesheet", href='/stylesheets/style.css')
body 
    block content
    h1= "Delete operation completed"
    form(action="/editquestions" method ='post')
        input(type="submit" name="delMore" value="deleteMore")