doctype html
head
    title= "preferences"
    link(rel="stylesheet", href='/stylesheets/style.css')
body
    block content
    h1= "Matches" 
    each val in matches
        ul
            p #{val.user} has match with count #{val.count}

    a(href="/") Go to main page